@font-face{
font-family:'disney';
src:url('fonts/BLACK Personal Use.ttf');
}
@font-face{
font-family:'tagline';
src:url('fonts/Azonix.otf');
}
@font-face{
font-family:'headlineItalic';
src:url('fonts/Spantaran (DEMO).otf');
}


body{
font-family: "Trebuchet MS";
font-size:15px;
background:url('images/darkSpace.jpg');
color:white;
background-repeat: repeat;
background-size:cover;
#background-position:-65vw;
overflow:hidden; 
}
small {
    font-size: 80%;
    color: white;
    text-align:center;
}
#header{
font-size:15px;
height:10vh;
text-align:left;
font-family:'headlineItalic';
background: linear-gradient(black,black,transparent);
z-index:1000000;
}
#tagline{
font-family:'tagline';
letter-spacing:0;
}
#mindtree-logo{
height:10vh;
float:right;
}
#logos{
margin-top:20vh;
height:10vh;
margin-left:5vw;
cursor: pointer;
border-radius:6px;
opacity:0.5;
width:20vw;
background-repeat:no repeat;
background-size:5px 5px;
}
#logo{
cursor: pointer;
border-radius:6px;
opacity:0.5;
width:0vw;
}
#logo:active, #logo:hover{
opacity:1;
}
#logo.apigee{
width:7vw;
}
#logo.ibm{
width:7vw;
}
#logo.sag{
width:9vw;
}
#logo.tibco{
width:8vw;
}
#black-mirror-frame{
	z-index:-1;
	background: linear-gradient(transparent,transparent,transparent,black);	
	margin-top:-15vh;
	height:100vh;
	width:100vw;
	border:none;
}

.text{
    width:100%;display:flex;flex-direction:column;
color:white;
}
.text > p:first-of-type{
    width:100%;margin-top:5px;margin-bottom:auto;line-height: 15px;font-size: 15px;
}
.text > p:last-of-type{
    width:100%;text-align:left;color:black;margin-bottom:-7px;margin-top:auto;t ext-align:right;
}
.text-l{
    float:right;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:7.5px;display:flex;
}

.msj-rta{
    float:right;background:#001111;text-align:right;
	box-shadow: inset 0 4px 4px 0 grey, 0 1px 2px 0 grey;	
}
.msj{
    float:left;background:#101010;
	box-shadow: inset 0px 4px 4px 0 grey, 0 1px 2px 0 grey;	
}

.title{
font-size:3vh;
font-family: "CASTELLAR";
margin-top: 42vh;
margin-left: 30vw;
width: 20%;
text-align:center;

}
#tagline{
 font-family:"Century Gothic";
 font-size:1.7vh;
}
.frame{
    z-index:10000;
    overflow:hidden;
    padding:0;
    position:fixed;
    right:60px;
    bottom:45px;
    font-size:15px;
	width:100px;
	border-radius:100px;
	box-shadow: inset 0 0px 10px 0px grey, 0 1px 2px 0 white;	
	background-color:linear-gradient(black,transparent,transparent)
}

.panel-primary {
    background:transparent;
    
	}
.panel-heading{
    cursor: pointer;
    background:url('images/jarvis-4.gif');
	height: 100px;
	background-size:200px 200px ;
	background-repeat:no-repeat;
	background-position: -50px -50px;
    text-align: center;
}
.panel-primary>.panel-heading{
background-color:transparent;
border-color:transparent;
}

.panel{
margin-bottom:0px;
}
.mytext,#rec{
    border:0;padding:10px;background:transparent;text-align:right;
}

.innerframe{
margin-top:20px;
z-index:1;
background:transparent;
height:60vh;
    opacity:'0';
}
.innerframe > div:last-of-type{
position:absolute;
bottom:10px;
width:100%;
display:flex;
}
#messages {
    margin-top: 20px;
    width:100%;
    list-style-type: none;
    padding:14px;
    position:absolute;
    top:40px;
    bottom:40px;
    display:flex;
    flex-direction: column;
    overflow-y:overlay;
    height:52vh;
	
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    text-align:right;
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent transparent transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: transparent transparent transparent transparent;           
}  

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #DCDCD5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #DCDCD5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #DCDCD5;
}
:-moz-placeholder { /* Firefox 18- */
    color: #DCDCD5;
 }
#chat-panel{
text-align:center;
}

html, body{
    height: 100%;
}
© 2019 Git
